
@{
    ViewBag.Title = "Gallery";
}

<h2 class="col-12 bg-primary rounded rounded-2 p-3 shadow-sm">Gallery</h2>

<div class="row g-5">
    <img class="col-md-6" src="~/Content/Images/312495987.jpg"/>
    <img class="col-md-6" src="~/Content/Images/Hiking_to_the_Ice_Lakes._San_Juan_National_Forest,_Colorado.jpg"/>
    <img class="col-md-6" src="~/Content/Images/Ski_Famille_-_Family_Ski_Holidays.jpg"/>
    <img class="col-md-6" src="~/Content/Images/_117371499_gettyimages-1215359845.jpg"/>
</div>